<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Notice.NoticeDao">
    <!--    insert 테스트를 위한 전체 테이블 삭제-->
    <delete id="deleteAll">
        delete from Notice;
    </delete>

    <!-- 테스트를 위한 시퀀스 초기화를-->
    <update id="autoIncreasereset">
        ALTER TABLE Notice auto_increment=1;
    </update>

    <!--    전체 게시글 조회 및 페이지 핸들링 을 위한 카운트-->
    <select id="count" resultType="int">
        SELECT count(*) FROM Notice
        where n_state = 'Y'
    </select>

    <!--게시글 등록-->
    <insert id="insertNotice" parameterType="NoticeDto">
        insert into Notice(n_title,n_contents,n_createDate,c_email, frst_reg_id, last_mod_id)
        values (#{n_title},#{n_contents}, #{n_createDate} ,#{c_email}, #{frst_reg_id}, #{last_mod_id});
    </insert>

    <!-- 패이지 핸들러로 목록 조회   -->
    <select id="selectPage" parameterType="pageHandler" resultType="NoticeDto">
        select * from Notice
        where n_state = 'Y'
        limit #{pageSize} offset #{offset};
    </select>

    <!--아이디로 게시글 하나 조회-->
    <select id="selectNoticeById" parameterType="int" resultType="NoticeDto">
        select * from Notice
        where notice_no = #{notice_no};
    </select>
    <!--테스트를 위해 아이디로 삭제 -->
    <delete id="deleteById" parameterType="int">
        delete from Notice
        where notice_no = #{notice_no};
    </delete>

    <!--게시글 정보 업데이트 -->
    <update id="updateContents" parameterType="NoticeDto">
        update Notice
        set n_title = #{n_title},
            n_contents = #{n_contents},
            n_createDate = #{n_createDate} ,
            c_email = #{c_email},
            last_mod_id = #{last_mod_id},
            last_mod_dt = #{last_mod_dt}
        where notice_no = #{notice_no};
    </update>

    <!--실제 사용되는 상태로 삭제 관리 -->
    <update id="updateState" parameterType="NoticeDto">
        update Notice
        set n_state = #{n_state},
        last_mod_id = #{last_mod_id},
        last_mod_dt = #{last_mod_dt}
        where notice_no = #{notice_no};
    </update>
</mapper>