<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductOptionMapper">
    <!--카운트-->
    <select id="countOption" resultType="int">
        SELECT count(*) FROM `option`;
    </select>

    <select id="selectOptions" parameterType="int" resultType="ProductOptionDto">
        SELECT * FROM `option` WHERE pdt_no = #{productNumber};
    </select>

    <select id="selectOption" parameterType="int" resultType="ProductOptionDto">
        SELECT * FROM `option` WHERE opt_no = #{optionNumber};
    </select>

    <insert id="insertProductOption" parameterType="OptionRequestDto">
        INSERT INTO `option`(pdt_no, opt_name, opt_detail, status) VALUES(#{productNumber}, #{optionName}, #{optionDetail}, #{status})
    </insert>

    <insert id="insertOptions" parameterType="OptionRequestDto">
        INSERT INTO `option` (pdt_no, opt_name, opt_detail, status)
        VALUES
        <foreach collection="optionDetails" item="detail" separator=",">
            (#{productNumber}, #{optionName}, #{detail}, #{status})
        </foreach>
    </insert>

</mapper>