<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductCategoryMapper">

    <!--카운트-->
    <select id="countProductCategory" resultType="int">
        SELECT count(*) FROM category
    </select>

    <select id="findCategoryByCategoryName" resultType="ProductCategoryDto" parameterType="String">
        SELECT * from category WHERE cate_name = #{categoryName}
    </select>

    <select id="findCategoryByParentId" resultType="ProductCategoryDto" parameterType="int">
        SELECT * from category WHERE cate_no = #{parentId} LIMIT 1;
    </select>

    <select id="findAllCategory" resultType="ProductCategoryDto">
        SELECT * from category;
    </select>

    <select id="selectLastCategoryOrderByDesc" resultType="ProductCategoryDto">
        SELECT * FROM category ORDER BY cate_no DESC LIMIT 1;
    </select>


    <insert id="insertProductCategory" parameterType="String">
        INSERT INTO category (cate_name)
        VALUES (#{categoryName})
    </insert>

    <update id="updateProductCategoryName" parameterType="ProductCategoryUpdateRequestDto">
        UPDATE category
        SET cate_name = #{categoryName}
        WHERE cate_no = #{categoryNumber}
    </update>

    <delete id="deleteCategory" parameterType="ProductCategoryDto">
        DELETE FROM category
        WHERE cate_no = #{categoryNumber}
    </delete>
</mapper>